.mag-component-panel.main.position-right {
    left: 250px; }

.mag-component-panel.main.position-left {
    left: 80px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    right: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    left: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel.main.position-right {
    left: 250px; }

.mag-component-panel.main.position-left {
    left: 80px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    right: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 320px;
    position: absolute;
    top: 140px;
    left: -140px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel.main.position-right {
    left: 240px; }

.mag-component-panel.main.position-left {
    left: 90px; }

.mag-component-panel.right > .title {
    background: #151515;
    -webkit-transform: rotate(90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    right: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.right > .title > div {
        text-align: center; }

.mag-component-panel.left > .title {
    background: #151515;
    -webkit-transform: rotate(-90deg);
    width: 360px;
    position: absolute;
    top: 157px;
    left: -158px;
    text-align: center;
    padding: 0;
    z-index: 1; }
    .mag-component-panel.left > .title > div {
        text-align: center; }

.mag-component-panel.expand > .title {
    width: inherit;
    -webkit-transform: none;
    position: static;
    text-align: left;
    padding-left: 20px; }

.mag-component-panel-set {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100%;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .mag-component-panel-set.hidden {
        display: none; }
    .mag-component-panel-set.hidden {
        display: block !important;
        visibility: hidden; }
    .mag-component-panel-set.focus {
        outline: 1px dashed red; }
